nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 0 20px;
}

.nav-logo img {
  padding-left: 30px;
  width: 60px;
}

nav ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
nav ul li {
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  padding-bottom: 5px;
}
nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 25px;
}
nav ul li :hover {
  background-color: aqua;
  color: #fff;
  padding: 5px;
}

@media (min-width: 768px) {
  .nav-link {
    display: flex;
    flex-direction: row;
  }
  nav ul li {
    padding: 10px;
  }
}
